<div class="container">
    <section id="content">
        <form method="post">
            <h2>删除用户</h2>

            <div>
                确定要删除编号为：   ${id}   的用户吗？
            </div>
            <div>
                <label><input type="radio" name="isDelete" value="true"/>是</label>
                <label><input type="radio" name="isDelete" value="false" checked="true"/>否</label>
            </div>
            <div>
                <input type="submit" value="确定"/>
            </div>
        </form>
        <!-- form -->
    </section>
    <!-- content -->
</div>
